In [ ]:
students = {
    "ST101": {"name": "John Smith", "age": 20, "grades": [85, 90, 88]},
    "ST102": {"name": "Emma Davis", "age": 19, "grades": [55, 60, 58]},
    "ST103": {"name": "Alex Johnson", "age": 21, "grades": [95, 92, 96]}
}

def process_grades(student_id):
    if student_id not in students:
        return "Student not found", None, None, None, None
    
    grades = students[student_id]["grades"]
    avg_grade = sum(grades) / len(grades)
    highest_grade = max(grades)
    lowest_grade = min(grades)
    status = "Pass" if avg_grade >= 60 else "Fail"
    
    return avg_grade, highest_grade, lowest_grade, status

def student_report():
    print("Student Report")
    
    for student_id, data in students.items():
        avg_grade, _, _, status = process_grades(student_id)
        if avg_grade is not None:
            print(f"ID: {student_id} | Name: {data['name']} | Age: {data['age']} | Status: {status}")
   

def add_student(student_id, name, age, grades):
    if student_id in students:
        print("Student ID already exists.")
        return
    
    students[student_id] = {"name": name, "age": age, "grades": grades}
    print(f"Student {name} (ID: {student_id}) added successfully!")

def remove_student(student_id):
    if student_id not in students:
        print("Student not found.")
        return
    
    del students[student_id]
    print(f"Student with ID {student_id} has been removed successfully!")

student_report() to get the list of students
process_grades("id") to get his highest and lowest grades and avg
add_student("id","name", age, [grade1, grade2, grade3])
remove_student("id")

In [10]:
student_report()

Student Report
==============================
ID: ST101 | Name: John Smith | Age: 20 | Status: Pass
ID: ST102 | Name: Emma Davis | Age: 19 | Status: Fail
ID: ST103 | Name: Alex Johnson | Age: 21 | Status: Pass
==============================

In [12]:
get_student_grades("ST102")

Grades for Emma Davis (ID: ST102): [55, 60, 58]

In [14]:
add_student("ST104", "Liam Brown", 22, [78, 82, 80])

Student Liam Brown (ID: ST104) added successfully!

In [16]:
student_report()

Student Report
==============================
ID: ST101 | Name: John Smith | Age: 20 | Status: Pass
ID: ST102 | Name: Emma Davis | Age: 19 | Status: Fail
ID: ST103 | Name: Alex Johnson | Age: 21 | Status: Pass
ID: ST104 | Name: Liam Brown | Age: 22 | Status: Pass
==============================

In [18]:
remove_student("ST101")

Student with ID ST101 has been removed successfully!

In [20]:
student_report()

Student Report
==============================
ID: ST102 | Name: Emma Davis | Age: 19 | Status: Fail
ID: ST103 | Name: Alex Johnson | Age: 21 | Status: Pass
ID: ST104 | Name: Liam Brown | Age: 22 | Status: Pass
==============================

In [24]:
process_grades("ST103")

(94.33333333333333, 96, 92, 'Pass')